{% extends "layout.html.twig" %}

{% block content %}
  <h1>Slim</h1>
  <div>a microframework for PHP</div>
  {% if name %}
    <p>Hello {{ name|capitalize }}!!</p>
    <p><a href="{{ path_for('home') }}">Home</a></p>
  {% else %}
    <p>Try <a href="http://www.slimframework.com">SlimFramework</a></p>
    <p><a href="{{ path_for('name', { 'name': 'cyle' }) }}">Cyle</a></p>
  {% endif %}
{% endblock %}
